{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block contenido %}


<div class="container mt-5">
    <h2 class="mt-4">Agregar</h2>
    {{mensage}}
    <form id="formularioAgregar" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{ curriculumForm | crispy }}  

      <button type="submit" class="btn btn-success">Agregar</button>
      <button type="reset" class="btn btn-danger">Limpiar</button>
    </form>
  </div>


  {% endblock %}