  
{% extends 'base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %} 
<div class="container mt-5">
    <div class="text-center">
        <h2 class="mt-4">Listado de Curriculum</h2>
    </div>
    
    <h1 style="color:red"> {{mensaje}} </h1>
    <div class="col-12" >

        {% for a in Curriculum %}
        <div class="col-3">
        <div class="card" style="background-color: #182d38;  color: white; ">
                <div class="image"><img src="{{a.foto.url}}" class="d-block w-100"  alt="..."></div>
            <div class="card-body" style="background-color: #143e57;">
                <p style="color :#2860fa;">
                <span class="title">
                    {{a.nombre}} {{a.apellido}}
                </span>
                </p>
            
                <p class="desc">
                  RUT:  {{a.rut}}
                </p>
                <p class="desc">
                  EDAD:  {{a.edad}}
                </p>
                <p class="desc">
                  Informacion Profecional: <br>  {{a.Informacion_profecional}}
                </p>
                <p class="desc">
                  Datos de contacto: <br> {{a.datosDeContacto}}
                </p>

                
             </div>
        </div>
        </div>
        <br>
        {% endfor %}

   </div>
  </div>


  {% endblock %}